rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(){
      return request.auth.token.admin == true;
    }

    function isEditor(){
      return request.auth.token.editor == true;
    }

    match /blogs/{newBlogId} {
      allow read: if true;
      allow write: if request.auth != null && (isAdmin() || isEditor());
    }

    match /founders/{newFounderId} {
      allow read: if true;
      allow write: if request.auth != null && (isAdmin() || isEditor());
    }

    match /news/{newNewsId} {
      allow read: if true;
      allow write: if request.auth != null && (isAdmin() || isEditor());
    }

    match /file_category/{newFileCategoryId} {
      allow read: if true;
      allow write: if request.auth != null && (isAdmin() || isEditor());
    }

    match /files/{newFileId} {
      allow read: if true;
      allow write: if request.auth != null && (isAdmin() || isEditor());
    }

    match /signatures/{newsignatureId} {
      allow read: if request.auth != null && (isAdmin() || isEditor()) || request.query.limit == 1;
      allow create: if true;
    }

    match /signaturesCount/{count} {
      allow read: if true;
      allow create: if true;
    }
  }
}