rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /Blogs/{newBlogId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.admin == true || request.auth.token.editor == true);
    }
    match /News/{newNewsId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.admin == true || request.auth.token.editor == true);
    }
    match /Users/{newUserPhoto} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /{Location}/{newUserPhoto} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /peopleIds/{newUserPhoto} {
      allow read: if true;
      allow create: if request.resource.size < 3 * 1024 * 1024;
      allow delete: if true;
    }
  }
}
